//- include partials/header.pug
h1 List of Cars from Database
a(href='/cars/add') Add a Car
table.table.table-striped
  tr
    th Color
    th Make
    th Model
    th Year
    th Automatic?
    th Edit
    th Delete
